* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0D5182;
    display: flex;
    flex-direction: column;   
}

.pointer {
    cursor: pointer;
}

header {
    margin-top: 5vh;
    margin-left: 18vw;
    margin-right: 18vw;
    margin-bottom: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header-textSize {
    font-size: 3vh;
}

.header-color_Text {
    color: #F6B50F;
}

header {
    margin-top: 5vh;
    margin-left: 18vw;
    margin-right: 18vw;
    display: flex;
    justify-content: space-between;
}

.header-cart {
    height: 5vh;
}

.header-searchIcon {
    height: 3vh;
}

h1 {
    text-align: center;
    color: #F6B50F;
    padding-bottom: 1vh;
}

.slogan {
    padding-top: 3vh;
    color: white;
    font-style: italic;
    text-align: center;
}

h2 {
    text-align: center;
    padding-bottom: 2vh;
    color: white;
}

h3 {
    color: white;
    text-align: center;
    margin: 1.5vh 0 8vh 0;
}

.main{
    margin: 0 10vw 0 10vw;
}

.main-novedades {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main-novedades a {
    display: flex;
    justify-content: center;
}

.main-novedades div {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.main-novedades-img {
    width: 60%;
}

.main-destacados {
    display: flex;   
    flex-direction: column;
}

.main-destacados div  {
    display: flex;
}

.main-destacados-imgDiv {
display: flex;
align-items: center;
flex-direction: column;
}

.main-destacados-img {
    width: 60%;
}

.main-temporada {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;   
}
.main-temporada div  {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-temporada-img {
    width: 60%;
}

.header-cart {
    height: 5vh;
}


.header-searchIcon {
    height: 3vh;
}

.header-quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6B50F;
    color: white;
    border-radius: 100%;
    height: 4.5vh;
    width: 4.5vh;
}

.main-title {
    position: relative;
    margin-top: 6vh;
    margin-bottom: 6vh;
}

.main-title:before {
    content: "";
    display: block;
    border-top: solid 5px #F6B50F;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 30%;
    z-index: 0;
}

.main-title span {
    background-color: #0D5182;
    padding: 0 40px;
    position: relative;
    z-index: 1;
}


.main-commentsUsers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-commentsUsers-1 {
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.main-commentsUsers-1 p {
    width: 50vw;
    padding: 2vh;
    margin-left: 5vw;
    border: black;
    background-color: aliceblue;
}

.main-imageUser {
    height: 15vh;
    border-radius: 50%;

}

footer {
    background-color: #101943;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: rgb(230, 230, 230);
    padding-top: 2%;
}

.copyright {
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
}

.copyright a {
    text-decoration: none;
    color: rgb(230, 230, 230);
    padding-bottom: 3%;
}

.copyright a:hover {
    color: #F6B50F;
}

.social-media ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-media li {
    list-style-type: none;
    padding-top: 10%;
    padding-bottom: 10%;
}

.social-media li img:hover {
    height: 110%;
    width: auto;
}







