body {
  font-family: Lato, 'Open Sans', sans-serif; }

.sp-main {
  width: 100%;
  background-color: white; }
  .sp-main-product {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 13vw 0 13vw; }
    .sp-main-product-img {
      width: 30vw;
      margin: 5vh; }
    .sp-main-product-description {
      height: 25vh;
      width: 30vw;
      display: flex;
      flex-direction: column;
      position: relative; }
      .sp-main-product-description-directory {
        margin: 1.5vh 0 1.5vh 0;
        color: gray; }
      .sp-main-product-description-name {
        margin: 1.5vh 0 1.5vh 0;
        font-weight: bold; }
      .sp-main-product-description-price {
        margin: 1.5vh 0 1.5vh 0; }
      .sp-main-product-description-addToCart {
        border: 0; }
  .sp-main-div {
    height: 70%; }
