* {
    margin: 0;
    padding: 0;
}
body {
    background-color:#0D5182 ;
    display: flex;
    flex-direction: column;

    /* Esto solo para la second page (de momento) */
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.sp-main{
    height: 60vh;
    width: 100%;
    background-color: white;   
}

.sp-main-product{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 18vw 0 18vw;
}

.sp-main-product-div{
    height: 70%;
}

.sp-main-product-img{
    height: 100%;
}

.sp-main-product-description{
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10vh;
}


footer {
    background-color: #101943;
    width: 100%;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: rgb(230, 230, 230);
    padding-top: 2%;
}

.copyright {
    display: flex;
    flex-direction: column;
}

.copyright a {
    text-decoration: none;
    color: rgb(230, 230, 230);
    padding: 0 0 10% 0;
}

.copyright a:hover {
    color: #F6B50F;
}

.social-media ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-media li {
    list-style-type: none;
    padding-top: 10%
}

.social-media li img:hover {
    height: 110%;
    width: auto;
}